#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  text-align: left;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
}


.navbar li{
  color: #333;
  cursor: pointer;
}

.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.herotext{
  max-width: 50%;
}

.rt button{
  background-color: #f19cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.rt button:hover{
  background-color: #5a6268;
}

.pt {
  display: flex;
  justify-content: flex-end; /* 將內容推向右側 */
}

.pt img {
  width: 60%;
  display: block; /* 確保圖片不受行內元素影響 */
}


.specialssection{
  text-align: center;
  padding: 40px;
  font-size: 11px;
}

.menu-grid{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-grid img {
  width: 200px;  /* 設置固定寬度 */
  height: 200px; /* 設置固定高度 */
  object-fit: cover;  /* 保持圖片比例並裁剪 */
  display: block;
}

.menu-grid button {
  width: 100px;                 /* 固定寬度 */
  height: 30px;                 /* 固定高度 */
}

.menu-item{
  width: 200px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.od button{
  background-color: #f19cba;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.od button:hover{
  background-color: #5a6268;
}

.footersection section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contactsection{
  display: flex;
  align-items: center;
  font-size: 14px;
  flex: 1;
}

.contactsection ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  list-style: none;
  width: 50%;

}

.contactsection li{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex: 1;
}
