#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  text-align: left;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
}


.navbar li{
  color: #333;
  cursor: pointer;
}

.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.herotext{
  max-width: 50%;
}

.rt button{
  background-color: #f19cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.rt button:hover{
  background-color: #5a6268;
}

.pt img{
  width: 240px;
  border-radius: 10px;
}

.specialssection{
  text-align: center;
  padding: 40px;
}

.menu-grid{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-item{
  width: 200px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.od button{
  background-color: #f19cba;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.od button:hover{
  background-color: #5a6268;
}